.main{
padding-bottom: $footer-padding;
  padding-top: 163px;
}
  .view {

    width: 200px;
    height: 300px;
    margin-top: 10px;
    float: left;
    border: 3px solid $color-green;
    overflow: hidden;
    position: relative;
  }

  .view .mask, .view .contentx {
    width: 100%;
    height: 60px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;

  }

  .view img {
    display: block;
    position: relative;

  }

  .view a.info {
    display: flex;
    text-decoration:none;
    padding: 15px 14px;
    margin: auto;
    background: $color-blue;
    color: #fff;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;

  }

  .view-seventh .mask {
    margin-top: 235px;
    background-color: rgba(50, 103, 142, 0.5);
    opacity: 0;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .view-seventh:hover .mask {
    opacity: 1;
  }


