.container{
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
a{
  color:$color-blue;
}
body{
  font-family: $font-family;
}

.button{
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  background-color: $color-blue;
  color: white;
  border-radius: 5px;
  }

