.Footer{
  width: 100%;
  bottom: 0px;
  height: 400px;
  background-image: url("./img/fbg.jpg");
  color: white;
 h2{
   font-size: 25px;
   padding-bottom: 5px;
 }

  &-menu{
    display: flex;
    height: 350px;
    bottom: 50px;
  }
  &-sol{
    padding-top: 300px;
  }
  &-orta{
    padding-top: 10px;
    padding-right: 20px;
    margin-left: auto;
  }
  &-sag{
    padding-top: 10px;
    padding-right: 20px;
    margin-left: auto;
    a{
      margin-left: 8px;
    }
  }
  &-bottom{
    background-color: black;
    color: gray;
    height: 50px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    font-size: 15px;
  }
}
